body {
  font-family: Lato;
}

.board{
  width: 400px;
  height: 400px;
}

.square{
  border-width: 1px;
  border-color: #000;
  border-style:solid;
  background-color: #ccf;
  width: 12.5%;
  height: 12.5%;
  overflow: hidden;
  display: inline-block;
  font-size: 30px;
  line-height: 50px;
}